html, body {
    margin: 0;
    padding: 0;
}

div {
    border: 10px groove yellow;
    width: 400px;
    height: 400px;
    background-image: url("img/black_dog.png");
    background-repeat: no-repeat;
    background-size: contain;
}