html, body, h1, h2, h3, p, img {
    padding: 0;
    border: 0;
    margin: 0;
}

svg {
    /*border: 2px solid hotpink;*/
}

#elli {
    fill: blue;
}

div {
    /*border: 1px solid black;*/
    /*height: 500px;*/
}

.svg0 {
    width: 5rem;
    height: 5rem;
    stroke: black;
    fill: greenyellow;
}

.svg0:hover {
    stroke: red;
    fill: green;
    cursor: wait;
}