html, body, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

div {
    width: 100%;
}

.class1, .class2 .class3, .class4 {
    min-height: 150px;
}

.class1 {
    background-color: blue;
}

.class2 {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid orangered;
}

.class3 {
    background-color: #0001b9;
}

.class4 {
    background-color: #000173;
}