html, body, h1, h2, h3, p, img {
    padding: 0;
    border: 0;
    margin: 0;
}

img, svg {
    border: 1px solid hotpink;
}

div {
    border: 1px solid black;
}

#circ {
    /*cx="25" cy="75" r="20" stroke="red" fill="transparent" stroke-width="5"*/
    cx:25; cy:75; r:20; stroke:red; fill:transparent; stroke-width:5px;
}

#circ:hover {
    cx:65; cy:75; r:20; stroke:red; fill:transparent; stroke-width:5px;
}

svg:hover {
    viewBox: 0 0 100 125;
    border: 3px dashed blue;
}