/* ***************************************************************************************** */
/* ----- LEARN ABOUT RADON ARTICLE ----- */
/* ***************************************************************************************** */

article, footer {
    margin: 0 2rem;
}

#radon_in {
    justify-content: flex-start;
}

#img_rad_in {
    display: none;
}