/* ***************************************************************************************** */
/* ----- HEADER ----- */
/* ***************************************************************************************** */

header nav {
    display: none;
}

/* ***************************************************************************************** */
/* ----- HEALTHY AIR SECTION & ABOUT US SECTION ----- */
/* ***************************************************************************************** */

#healthy_air {
    background-image: url("../img/fam_blur_under_600_web_medium.jpg");
}

#about_us {
    background-image: url("../img/us_16_9_smaller_web_30.jpg");
}