html, body, h1, h2, h3, p, img {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.svg0 {
    width: 5rem;
    height: 5rem;
    stroke: black;
    fill: greenyellow;
}

.svg0:hover {
    stroke: red;
    fill: green;
}