/* mcLeod_reset doesn't allow borders even after the reset??*/
html, body, ul, li, h1 {
    margin: 0;
    padding: 0;
}

* {
    border: 1px dashed hotpink;
}


/*h1, ul, div {*/
    /*border: 1px dashed hotpink;*/
/*}*/

h1 {
    text-align: center;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

h1 {
    font-size: 5rem;
    color: blueviolet;
}

li {
    margin: 0 2rem;
}

li:hover {
    color: red;
}
